@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";

:root {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}
