@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-pitch-deep: #1e1830;
  --color-pitch-purple: #151022;
  --color-pitch-violet: #3b28cc;
  --color-pitch-accent: #ff4dad;
}

:root {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background: var(--color-pitch-purple);
  color: white;
  /* min-height: 100vh; */
}

.main-background {
  background:
    radial-gradient(
      circle at 50% 0%,
      rgba(93, 44, 168, 0.4) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 85% 10%,
      rgba(59, 40, 204, 0.25) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at 15% 10%,
      rgba(59, 40, 204, 0.25) 0%,
      transparent 40%
    );
  background-attachment: fixed;
}
